[Desktop Entry]
Version=1.0
Name=Internet-Clicker
Comment=Un jeu de clicker basé sur les mèmes d'Internet
Exec=/home/amaury/Documents/perso/Internet_Clicker/launch.sh
Path=/home/amaury/Documents/perso/Internet_Clicker
Icon=Internet-Clicker
Terminal=false
Type=Application
Categories=Utility;
